In [9]:
# Lab 1

import warnings
warnings.simplefilter('ignore')

import pandas as pd

covid_data = pd.read_csv("s3://ia340-steinfadt/COVIDdataLab1.csv") # load the data from s3
covid_data.head() #show the top 5 rows

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [8]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

veg_prices = pd.read_csv("s3://ia340-steinfadt/Vegetable-Prices-2022.csv") # load the data from s3
veg_prices.head() #show the top 5 rows

,Vegetable,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Acorn squash,Fresh,1.2136,per pound,0.4586,0.4519,pounds,1.1961
1,Artichoke,Fresh,2.4703,per pound,0.3750,0.3858,pounds,2.5415
2,Artichoke,Canned,3.4498,per pound,0.6500,0.3858,pounds,2.0476
3,Asparagus,Fresh,2.9531,per pound,0.4938,0.3968,pounds,2.3731
4,Asparagus,Canned,3.4328,per pound,0.6500,0.3968,pounds,2.0958